@use "app/_variables" as *;
@use "app/_functions" as *;

.contentSection {
  margin-left: calc(50% - 50vw);
  min-width: 320px;
  padding: fluid(32px, 56px) 0px;
  width: 100vw;
  @media screen and (max-width: 319px) {
    margin-left: 0;
  }
  .content {
    align-items: flex-start;
    gap: 24px;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
}

.exportButton {
  margin-top: -40px;
  margin-bottom: 24px;
  @media screen and (max-width: 767px) {
    margin-top: -32px;
    margin-bottom: 16px;
  }
}

.officeData {
  > div {
    gap: 16px;
    padding: 8px 0;
    > div:last-child {
      flex: 2;
    }
  }
  div {
    font-size: fluid(14px, 16px);
  }
}

.agencyName > a{
  color: $greenB;
  &:hover {
    text-decoration: underline;
  }
}

.timeline {
  background-color: $grayA;
  //background: linear-gradient(to bottom, $grayA, rgba($grayA, .1));
  gap: 16px;
  padding: 32px fluid(16px, 32px);
  > div:first-child {
    //border-bottom: .5px solid $greenC;
    h2 {
      line-height: 1.4;
      margin-bottom: 8px;
    }
  }
  .timelineYear {
    > div:first-child {
      border-bottom: 0.5px solid $greenA;
      margin-bottom: 8px;
      padding-bottom: 8px;
    }
    gap: 8px;
    .timelineEvents {
      gap: 16px;
      .timelineItem {
        align-items: center;
        gap: fluid(12px, 24px);
        > div {
          font-size: fluid(14px, 16px);
        }
        .timelineEvent {
          word-break: break-word;
          b {
            font-weight: 600;
          }
          a {
            color: $greenC;
            display: flex;
            flex-direction: column;
            text-transform: capitalize;
            transition: all .1s ease-in-out;
            &:hover {
              color: $greenB;
            }
            span {
              font-weight: 600;
            }
          }
        }
        .timelineDate {
          flex: 0 0 80px;
          @media screen and (max-width: 1023px) {
            flex: 0 0 20%;
            min-width: 60px;
          }
          @media screen and (max-width: 479px) {
            flex: 0 0 20px;
            min-width: 50px;
          }
          .timelineDateMobile {
            display: none;
            @media screen and (max-width: 479px) {
              display: flex;
            }
          }
          .timelineDateDesktop {
            @media screen and (max-width: 479px) {
              display: none;
            }
          }
        }
        .timelineType {
          align-self: center;
          border-radius: 8px;
          color: $greenB;
          flex: 0 0 fluid(100px, 120px);
          font-weight: 700;
          line-height: 1.4;
          padding: 8px fluid(8px, 16px);
          text-align: center;
          @media screen and (max-width: 479px) {
            flex: 0 0 52px;
            padding: 4px;
            span {
              display: none;
            }
          }
          &.Discipline {
            background-color: #FAD2D2;
            color: darken(#FAD2D2, 60%);
          }
          &.Start {
            background-color: #D7F4CE;
            color: darken(#D7F4CE, 60%);
          }
          &.End {
            background-color: #A1D1C1;
            color: darken(#A1D1C1, 60%);
          }
        }
      }
    }
  }
}