.header {
  background: white;
  border-bottom: 1px solid $gray-200;
  
  &__container {
    @include container;
    @include flex-between;
    height: 4rem;
  }
  
  &__logo {
    font-weight: 600;
    font-size: 1.25rem;
  }
  
  &__nav {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  
  &__link {
    color: $gray-600;
    font-weight: 500;
    
    &:hover {
      color: $primary;
      text-decoration: none;
    }
    
    &--active {
      color: $primary;
    }
  }
}
