.header {
  background-color: var(--background);
  background-image: url(../../public/texture.svg);
  background-position: center;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 2;
  &.headerOpen {
    z-index: 2;
  }
}

.headerContent {
  background-size: 1440px;
  position: relative;
  z-index: 1;
  &:before {
    background-color: $greenC;
    content: '';
    height: 1px;
    position: absolute;
    top: 100%;
    width: calc(100% - 80px);
  }
  &.headerContentOpen {
    &:before {
      border-bottom: 1px solid transparent;
    }
  }
}

header.showMenu {
  .mainMenu {
    opacity: 1;
    visibility: visible;
  }
}

.siteTitle {
  font-size: fluid(16px, 24px);
}

.mainMenu {
  background-color: var(--background);
  background-image: url(../../public/texture.svg);
  background-position: center;
  background-size: 1440px;
  animation: fadeIn .1s ease-in-out;
  opacity: 0;
  transition: all .1s ease-in-out;
  visibility: hidden;
  z-index: 1;
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
  &:before {
    border-radius: 0 0 24px 24px;
    box-shadow: 0 10px 10px -10px gray;
    content: "";
    display: flex;
    height: 100%;
    max-width: 100%;
    position: absolute;
    width: 100vw;
  }
}

.mainMenuHeader {
  gap: 8px;
  margin-bottom: 24px;
}

.footer {
  background-color: white;
  margin: 0 auto;
  padding-bottom: fluid(32px, 56px);
  padding-top: fluid(32px, 56px);
  position: relative;
  > div {
    gap: fluid(32px, 40px);
    > div:first-child {
      gap: fluid(8px, 16px);
      nav {
        gap: 24px;
      }
    }
    > div:last-child {
      gap: fluid(8px, 24px);
    }
  }
}

.logosContainer {
  img {
    height: fluid(32px, 50px);
    width: auto;
  }
}

.mobileMenu {
  background-color: var(--background);
  background-image: url(../../public/texture.svg);
  background-position: center;
  background-size: 1440px;
  box-shadow: 0 10px 10px -10px gray;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  z-index: 0;
  &.mobileMenuOpen {
    height: fit-content;
    overflow: scroll;
    position: fixed;
    top: fluid(73px, 81px);
  }
  &.mobileStatesOpen {
    height: calc(100% - fluid(73px, 81px));
  }
  // &:before {
  //   background-image: url(../../public/texture.svg);
  //   background-size: 1440px;
  //   background-position: center;
  //   content: "";
  //   height: 100%;
  //   left: 0;
  //   position: fixed;
  //   top: 0;
  //   width: 100%;
  // }
}