@use "app/_variables" as *;
@use "app/_functions" as *;

.pageContentWrapper {
  margin-left: calc(50% - 50vw);
  min-width: 320px;
  padding: fluid(32px, 56px) 0 0;
  width: 100vw;
  @media screen and (max-width: 319px) {
    margin-left: 0;
  }
}

.container {
  section {
    padding-bottom: fluid(32px, 56px);
  }
}

.teamSection {
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  @media screen and (max-width: 1303px) {
    max-width: calc(288px*3 + 24px*2);
  }
  @media screen and (max-width: 991px) {
    max-width: calc(288px*2 + 24px);
  }
  @media screen and (max-width: 679px) {
    justify-content: center;
  }
}