.pagination {
  ul {
    gap: fluid(4px, 20px);
    margin: 10px 0;
    li {
      align-items: center;
      display: flex;
      flex: 1;
      height: fluid(40px, 64px);
      justify-content: center;
      width: fluid(24px, 64px);
      &.arrow {
        width: fluid(24px, 40px);
      }
      &.ellipsis {
        width: 20px;
      }
      a, span {
        font-size: fluid(14px, 18px);
      }
      a {
        align-items: center;
        color: $greenB;
        display: flex;
        height: fluid(40px, 64px);
        justify-content: center;
        width: fluid(24px, 64px);
      }
    }
  }
}