@use "tailwindcss";
@use "./_variables" as *;
@use "./_functions" as *;

:root {
  --background: #F3F3F3;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

body {
  color: $greenC;
  font-family: var(--font-inter), system-ui, -apple-system, sans-serif;
  min-width: 320px;
}

.wrapper {
  &:before {
    background-color: var(--background);
    background-image: url(../public/texture.svg);
    background-size: 1440px;
    background-position: center;
    content: "";
    height: 100%;
    position: fixed;
    width: 100%;
  }
}

main {
  align-self: center;
  max-width: 1440px;
}

h2 {
  font-size: fluid(20px, 40px);
  line-height: 1.2;
}

.container-a {
  margin: 0 auto;
  max-width: 1304px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
}

.h4 {
  font-size: fluid(16px, 20px);
  font-weight: bold;
  letter-spacing: .005em;
  line-height: 1.4;
}

.react-datepicker {
  color: $greenC;
  padding: 20px;

  @media screen and (max-width: 479px) {
    padding: 0px;
  }

  button {
    top: 24px;

    &.react-datepicker__navigation--previous {
      left: 24px;

      @media screen and (max-width: 479px) {
        left: 0;
        top: 4px;
      }

      span {
        &:before {
          right: -2px;

          @media screen and (max-width: 479px) {
            right: 7px;
          }
        }
      }
    }

    &.react-datepicker__navigation--next {
      right: 24px;

      @media screen and (max-width: 479px) {
        right: 0;
        top: 4px;
      }

      span {
        &:before {
          left: -2px;

          @media screen and (max-width: 479px) {
            left: 7px;
          }
        }
      }
    }

    &:hover {
      span {
        &:before {
          border-color: $greenB;
        }
      }
    }

    span {
      &:before {
        border-color: $greenC;
      }
    }
  }

  .react-datepicker__header {
    background-color: transparent;
    border: none;
  }

  h2.react-datepicker__current-month {
    margin-bottom: 16px;
  }

  div[class*="react-datepicker__header__dropdown"] {
    padding: 0;
  }

  div.react-datepicker__day {
    border-radius: 50%;
    color: $greenB;
    font-weight: 500;

    &:hover {
      background-color: $greenA;
      border-radius: 50%;
      color: white;
    }
  }

  div.react-datepicker__day--selected {
    color: white;
    background-color: $greenA;
    border-radius: 50%;
  }

  div.react-datepicker__day--today {
    background-color: transparent;
    color: $greenC;
    font-weight: bold;
  }

  .react-datepicker__current-month {
    color: $greenC;
  }

  .react-datepicker__day-name {
    font-weight: 500;
  }
}

svg.react-datepicker__triangle {
  path {
    fill: white;
    border: white;
  }
}
