* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: $font-family-base;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: $gray-700;
  background: linear-gradient(
    to bottom,
    $background-start,
    $background-end
  );
}

a {
  color: inherit;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
