@use "app/_variables" as *;
@use "app/_functions" as *;
@use 'sass:color' as c;

.formFilters {
  display: flex;
  flex-direction: column;
  gap: fluid(16px, 24px);

  .searchIcon {
    align-items: center;
    display: flex;
    height: 100%;
    left: 16px;
  }

  .searchButton {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #BEBEBE;
    bottom: 0;
    color: $greenC;
    cursor: pointer;
    font-weight: 400;
    height: fluid(32px, 37px);
    padding: 0 10px;
    position: absolute;
    right: 4px;
    transition: all .1s ease-in-out;
    top: 4px;
    &:hover {
      background-color: $greenA;
      border: 1px solid $greenA;
      color: white;
    }
  }

  .filtersRow {
    justify-content: space-between;
    gap: fluid(16px, 22px);

    @media screen and (max-width: 1023px) {
      flex-wrap: wrap;
    }

    >div {
      flex: 1 1 184px;
    }

    &:not(.stateFilters) {
      >div {
        @media screen and (max-width: 1023px) {
          flex: 0 0 calc(100%/3 - fluid(16px, 22px)/(3/2));
        }

        @media screen and (max-width: 767px) {
          &[class*="datePicker"] {
            flex: 0 0 calc(100%/2 - fluid(16px, 22px)/2);
          }
          &:not([class*="datePicker"]) {
            flex: 0 0 100%;
          }
        }
      }
    }

    .agency {
      flex: 400px;
      min-width: 200px;

      @media screen and (max-width: 1023px) {
        flex: 0 0 100%;
      }

      .agencyOptions {
        border: 1px solid #aeaeae;

        > div {
          display: flex;
          padding: 10px;
          > div {
            display: flex;
            gap: 10px;
            justify-content: space-between;
            max-width: 100%;
            width: 100%;
            > span {
              &:first-child {
                display: flex;
                flex: 1;
                flex-wrap: wrap;
                font-size: fluid(14px, 16px);
              }
              &:last-child {
                flex-basis: 70px;
              }
            }
          }
        }

        .active {
          background-color: $greenA;
          color: white;
        }
      }
    }

    .datePicker {
      >div {
        width: 100%;
      }
      @media screen and (max-width: 1023px) {
        flex: 0 0 calc(50% - fluid(16px, 22px)/2);

        >div {
          width: 100%;
        }
      }

      @media screen and (max-width: 479px) {
        flex: 0 0 100%;
      }

      input {
        background-image: url(../../images/datepicker-chevron.svg);
        background-position: calc(100% - 16px) center;
        background-repeat: no-repeat;
        background-size: 12px 7px;
      }
    }

    @media screen and (max-width: 1023px) {

      :nth-last-child(2),
      :last-child {
        flex: 0 0 calc(50% - fluid(16px, 22px)/2);
      }
    }

    @media screen and (max-width: 479px) {

      :nth-last-child(2),
      :last-child {
        flex: 0 0 100%;
      }
    }
  }

  select {
    background-image: url(../../images/datepicker-chevron.svg);
    background-position: calc(100% - 16px) center;
    background-repeat: no-repeat;
    background-size: 12px 7px;
    padding-right: 40px!important;
  }

  input,
  select {
    appearance: none;
    background-color: $grayA;
    border: 1px solid $grayB;
    border-radius: 8px;
    color: $greenC;
    font-size: 16px;
    height: fluid(40px, 45px);
    padding: 8px 16px;
    width: 100%;

    &[placeholder*="Search"] {
      padding-right: 80px;
    }

    &[placeholder*="date"] {
      padding-right: 40px;
    }

    &[id=search] {
      padding-left: fluid(48px, 64px);
    }

    &::placeholder {
      color: $greenC;
      font-size: 16px;
    }

    &:focus {
      outline: 2px solid $greenC;
      outline-offset: -2px;
    }
  }

  .buttonGroup {
    display: flex;
    gap: 16px;

    @media screen and (max-width: 479px) {
      flex-direction: column;
    }

    button {
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
      font-weight: 500;
      height: fluid(40px, 45px);
      padding: fluid(5px, 8px) 16px;
      transition: all .1s ease-in-out;

      &.clearButton {
        background-color: white;
        border: 2px solid $greenA;
        color: $greenA;

        &:hover {
          background-color: $grayA;
          border: 2px solid $greenA;
          color: $greenA;
        }
      }

      &.applyButton {
        background-color: $greenA;
        border: 2px solid $greenA;
        color: white;

        &:hover {
          background-color: c.adjust($greenA, $lightness: 5%);
          border: 2px solid $greenA;
          color: white;
        }
      }
    }
  }
}