.mapContainer {
  position: relative;
  width: 100%;
  max-width: none;
  margin: 0 auto;
  min-height: 300px;
  height: 100vw;
  max-height: 900px;
  overflow: visible;
}

@media (min-width: 768px) {
  .mapContainer {
    max-width: 600px;
  }
}

.mapWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1000px;
  /* Base size for the map */
  height: 900px;
  transform-origin: center center;
}

/* Base scaling for different screen sizes */
@media (max-width: 480px) {
  .mapContainer {
    height: 90vw;
    min-height: 250px;
  }

  .mapWrapper {
    transform: translate(-50%, -50%) scale(0.35);
  }
}

@media (min-width: 481px) and (max-width: 640px) {
  .mapWrapper {
    transform: translate(-50%, -50%) scale(0.45);
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .mapWrapper {
    transform: translate(-50%, -50%) scale(0.55);
  }
}

@media (min-width: 769px) {
  .mapWrapper {
    transform: translate(-50%, -50%) scale(1);
  }
}

.stateItem {
  position: absolute;
  cursor: pointer;
}